<!DOCTYPE html>
<html lang="en">
<head>
<title>Notaneitor</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Barra de Navegación superior -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img src="/img/student-48.png" alt="logo" />
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/mark/list">Ver Notas</a></li>
					<li><a href="/mark/add">Agregar Nota</a></li>
					<li><a href="/mark/filter">Filtrar</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/registrarse"><span
							class="glyphicon glyphicon-user"></span> Registrate</a></li>
					<li><a href="/identificarse"><span
							class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h2>Detalles de la nota</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Descripción</div>
			<div class="panel-body" th:text="${mark.description}">UO11111@uniovi.es</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Puntuación</div>
			<div class="panel-body" th:text="${mark.score}">100</div>
		</div>
	</div>


</body>
</html>
